.headerContent {
  width: 100vw;
  // background: #0c0f0a;
  // #0B0500 black
  // #FE5E41 orange ish
  // #F3C178
  // #D8F1A0 lime
  background: #00a878;
  color: black;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navContainer {
  padding: 1rem;
}

.nav {
  font-size: 18px;
  transition: background-color 0.3s ease, opacity 0.3s ease;

  a {
    padding: 6px 12px; /* so text isn't flush */
    border-radius: 24px;
    /**
    transition is applied here so browser knows to animate when we hover
    or else it will not do anything
    **/
    transition: background-color 0.1s ease;
  }
  a:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
